// Bootstrap overrides (if needed)
$primary: #002F70;
$font-family-sans-serif: "Manrope", sans-serif;


// Breakpoints
$breakpoint-xs: 480px;
$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;